<h1>Create Cohort</h1>
<form class="" action="/cohort" method="post">
  <input type="text" name="cohort_name" value="">
  <input type="submit" value="Create Cohort">
</form>


<h1>Create Student</h1>
<form class="" action="/student" method="post">
  <input type="text" name="student_name" value="">
  <select name="cohort_picker">
    <% @cohorts.each do |cohort| %>
      <option value="<%= cohort.id %>"><%= cohort.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Create Student">
</form>

<h1>Delete Student</h1>
<form class="" action="/students/delete" method="post">
  <select name="student_picker">
    <% @students.each do |student| %>
      <option value="<%= student.id %>"><%= student.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Delete Student">
</form>


<h1>Create Challenge</h1>
<form class="" action="/challenge" method="post">
  <input type="text" name="challenge_name" value="">
  <input type="text" name="challenge_number" value="">
  <input type="submit" value="Create Challenge">
</form>

<h1>Create Stage</h1>
<form class="" action="/stage" method="post">
  <input type="text" name="stage_name" value="">
  <input type="text" name="stage_number" value="">
  <select name="challenge_picker">
    <% @challenges.each do |challenge| %>
      <option class="challengePicker" value="<%= challenge.id %>"><%= challenge.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Create Stage">
</form>
